<h3 class="page-header">Search Author</h3>

<form action="/authors" method="GET">
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button class="btn btn-primary">Search</button>
</form>

<br>

<% authors.forEach((author, i) => { %>
  <div> - <%= author.name %> </div>
  <div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= author.id %>">Show</a>
    <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm',
        {url: `/authors/${author.id}`}) %>
  </div>

<% }) %>
