<h3> <%= author.name %></h3>
<div class="btn-row">
<a href="/authors/<%= author.id %>/edit" class="btn btn-primary">Edit</a>
<%- include('../partials/deleteForm',
            {
              url: `/authors/${author.id}`
            }) %>
</div>


<% if (booksByAuthor.length > 0 ) {%>
  <h3 class="page-header">Books By Author</h3>
  <% booksByAuthor.forEach((book, i) => { %>
    <div><%= book.title %> - <%= book.publishDate %> -- <%= book.author %></div>
    <a href="/books/<%= book.id %>">
      <img src="<%= book.coverImagePath%>" width="100" height="150">
    </a>
  <% }) %>
<% } %>
