<h3> <%= author.name %></h3>

<a href="/authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/deleteForm',
            {
              url: `/authors/${author.id}`
            }) %>


<% if (booksByAuthor.length > 0 ) {%>
  <h3>Books By Author</h3>
  <% booksByAuthor.forEach((book, i) => { %>
    <div><%= book.title %> - <%= book.publishDate %> -- <%= book.author %></div>
    <a href="/books/<%= book.id %>">
      <img src="<%= book.coverImagePath%>" width="100" height="150">
    </a>
  <% }) %>
<% } %>
